<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>活动中心</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="woa/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" href="woa/css/app.css" />
		<link rel="stylesheet" href="woa/css/common.css">
		<link rel="stylesheet" href="woa/css/main.css" />
		<script type="text/javascript" src="woa/js/adaptive.js"></script>
		<script>
			window['adaptive'].desinWidth = 750;
			window['adaptive'].baseFont = 28;
			window['adaptive'].init();
		</script>
	</head>

	<body style="background: #FFF;">

		<div class="act-info-box"></div>

		<div class="act-info">

			<div class="act-info-user">
				<img src="woa/img/u1.jpg">
			</div>

			<span class="pos_r fl ml20 font14" style="top:0.5rem">凌家小姐姐<br/>
        		<span class="font12" style="color: #999;">目前已参与<span style="color: #32c57e;">3</span>次线下活动</span>
			</span>
		</div>

		<div class="act-cent-box-img">
			<img src="woa/img/c2.jpg">
		</div>

		<div class="act-info-panel">

			<div class="w100 h80 act-info-panel-title">
				<span class="font16 pos_r top02">线下活动</span>
			</div>

			<div class="w100 act-panel-box">
				<div class="w100 pos_r act-info-panel-imgbox">
					<img src="woa/img/p1.jpg">
				</div>
				<div class="w100 h80 act-info-panel-img-line">
					<span class="font12 pos_r top02" style="color: #999;">线下K歌+小龙虾组局（限制20人，目前人数<span style="color: #32c57e;">16</span>人）</span>
				</div>
			</div>

			<div class="w100 act-panel-box">
				<div class="w100 pos_r act-info-panel-imgbox">
					<img src="woa/img/p2.jpg">
				</div>
				<div class="w100 h80 act-info-panel-img-line">
					<span class="font12 pos_r top02" style="color: #999;">清远漂流+烧烤（限制20人，目前人数<span style="color: #32c57e;">16</span>人）</span>
				</div>
			</div>

		</div>

		<!--<div style="background: none;" class="w100 h10 pos_r"></div>-->
		</div>
	</body>
	<script type="text/javascript" src="woa/js/jquery-1.8.3.min.js"></script>
	<script src="woa/js/mui.js"></script>
	<script src="woa/js/util.js"></script>
	<script>
		//返回上一次
	</script>

</html>