<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>充值</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no,email=no,address=no" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<link rel="stylesheet" href="woa/css/common.css" />
		<link rel="stylesheet" href="woa/css/main.css" />
		<script type="text/javascript" src="woa/js/adaptive.js"></script>
		<script>
			window['adaptive'].desinWidth = 750;
			window['adaptive'].baseFont = 28;
			window['adaptive'].init();
		</script>
		<style>
			.line-box-pay {
				width: 80%;
				height: 0.6rem;
				position: relative;
				margin: 0px auto;
				top: 0.5rem;
				border-bottom: 0.02rem solid #3eb9ff;
			}
			
			.line-box-span {
				position: relative;
				float: left;
				font-size: 0.32rem;
				top: 0.1rem
			}
			
			.line-box-input {
				width: 90%;
				height: 0.6rem;
				text-align: left;
				font-size: 0.32rem;
				float: left;
				margin-left: 0.1rem;
			}
		</style>

	</head>

	<body class="recharge">

		<div class="bw w100 pos_r  " style="height: auto;">
			<div class="w100 h80">
				<span class="pos_r fl ml20 font14 top04" style="color: #333;font-size: 0.32rem;">守约金充值</span>
			</div>

			<div class="line-box-pay">
				<span class="line-box-span">￥</span><input value="99" class="line-box-input">
			</div>

			<div class="sel_money plr24 mt20">

				<div class="clearfix" id="payList">

				</div>

			</div>

			<div class="w100 tac pos_r top04" style="height: auto;width: 60%;margin: 0px auto;">
				<input type="button" id="goPay" value="充值" class="resh_next font14" style="color: #FFF;border-radius: 0.8rem;background:#3eb9ff;">
			</div>

			<div class="w100  pos_r " style="height: auto;top:0.8rem">
				<div class="name font14 col3" style="line-height: 0.8rem;">
					<span class="ml20" style="color: #999;">关于守约金?</span>
				</div>
				<div class="question-list" style="background: #FFF;">
					<ul style="padding: 0.2rem;color: #ccc;" class="font12 lh40">
						<li>1.守约金最少充值为99元。</li>
						<li>2.守约金作为抵扣约会迟到金，抵扣线下实际消费等等。</li>
						<li>3.更多的使用用途正在开发中...</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
<script src="woa/js/jquery-1.8.3.min.js"></script>
<script src="woa/js/util.js"></script>
<script src="woa/js/user_api.js"></script>
<script src="woa/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="woa/js/tooltipbox.js"></script>