<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>充值</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no,email=no,address=no" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<link rel="stylesheet" href="woa/css/common.css" />
		<link rel="stylesheet" href="woa/css/main.css" />
		<script type="text/javascript" src="woa/js/adaptive.js"></script>
		<script>
			window['adaptive'].desinWidth = 750;
			window['adaptive'].baseFont = 28;
			window['adaptive'].init();
		</script>
	

	</head>

	<body style="background: #FFF;">
	
	

			<div class="w100  pos_r " style="height: auto;top:0.5rem">
				<div class="name font14 col3" style="line-height: 0.8rem;">
					<span class="ml20" style="color: #282828;font-weight:400; font-size: 0.4rem;">什么是违约预缴金?</span>
				</div>
				<div class="question-list" style="background: #FFF;">
					<ul style="padding: 0.2rem;color: #999;" class="font12 lh40">
						<li>1.违约预缴金是您参与约会权限的必备条件，参与中意nei约会时须保证您的预缴金大于99元，如低于当前预缴金少于99元将无法进行约会</li>
						<li>2.违约预缴金不同等于余额，不具备线下消费能力</li>
					</ul>
				</div>
			</div>
				<div class="w100  pos_r " style="height: auto;top:0.5rem">
				<div class="name font14 col3" style="line-height: 0.8rem;">
					<span class="ml20" style="color: #282828;font-weight:400; font-size: 0.4rem;">违约预缴金使用</span>
				</div>
				<div class="question-list" style="background: #FFF;">
					<ul style="padding: 0.2rem;color: #999;" class="font12 lh40">
						<li>1.违约预缴金作为约会必备条件还可以用于合作商家的消费</li>
						<li>2.违约预缴金少于99元，须补充至99元或以上，方可以参与中意nei的一对一约会活动</li>
					</ul>
				</div>
			</div>
			
				<div class="w100  pos_r " style="height: auto;top:0.5rem">
				<div class="name font14 col3" style="line-height: 0.8rem;">
					<span class="ml20" style="color: #282828;font-weight:400; font-size: 0.4rem;">违约预缴金退还</span>
				</div>
				<div class="question-list" style="background: #FFF;">
					<ul style="padding: 0.2rem;color: #999;" class="font12 lh40">
						<li>1.违约预缴金在每次参与活动结束后即可发起退还，我们将于申请后的5个工作日将预缴金退还至您的付款账户中</li>
						
					</ul>
				</div>
			</div>


	</body>

</html>
<script src="woa/js/jquery-1.8.3.min.js"></script>
<script src="woa/js/util.js"></script>
<script src="woa/js/user_api.js"></script>
<script src="woa/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="woa/js/tooltipbox.js"></script>
